<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>ZetCash - Welcome</title>
</head>

<body>
        <table style="border:2px solid black; border-collapse: collapse;" border="1" align="center" width="70%">
            
            <tr>
                
                <td style="border:2px solid black; border-collapse: collapse;" align="right">

                 <img align="left" src="../../assets/zetcash.png" alt="Logo"width="200" height="100" >
                    <br>
                 <a href="publicHome.php">Home  </a>|
                <a  href="login.html">Login</a>|
                <a  href="registration.html">Registration</a>
            </td>
 
                
            </tr>
            
            <tr>
                
                <td style="border:2px solid black; border-collapse: collapse;" colspan="2" height=250px><h2 style="font-size:300%;" align="center">Welcome to FlyCash</h2>
                    <h2 style="color:red;" align="center">Make Your Money Fly</h2>
                </td>


                
            </tr>
            
            <tr>
                
                <td style="border:2px solid black; border-collapse: collapse;" colspan="2" align="center"><p>Copyright &#169; 2021</p></td>
                
            </tr>
            
        </table>
        
    
    
</body>
</html>